body{
    justify-content: center;
    display: flex;
}

.caixaInteira {
    border: lightgray solid;
    width: 400px;
    height: 400px;
    align-items: center;
    box-shadow: 0 0 1rem black;
    background-color: white;
    border-radius: 5%;
    padding: 5px 5px 0px 25px;
}

#titulo {
    font-size: 2rem;
}


#textarea {
    width: 260px;
    height: 180px;
    overflow-y: scroll;
}


body {
    background-color: rgb(79, 14, 141);
}

#textmedia,
label {
    font-weight: bolder;
}
